/* ======================================== MEDIA TEMPLATE ================================= */

/* Everything and Desktops */

/* Lanscape iPad */
@media (max-width: 1024px) {

}

/* Portrait iPad */
@media (max-width: 768px) {

}

/* Landscape smartphone */
@media (max-width: 600px) {

}

/* smartphone */
@media (max-width: 480px) {

}

/* Small landscape smartphone (iPhone 4) */
@media (max-width: 480px) and (orientation: landscape) {

}

/* ======================================== MAIN =========================================== */


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    overflow-x: none;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 300;
}

/* ======================================== NAV BAR ======================================== */

.nav-box {
    border-top: 8px solid black;
    display: block;
    /*background-image: url('../images/banner.jpg');*/
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 370px;
}

.nav-box li{
    display: inline-block;
    color: white;
    font-size: 16px;
}

.nav-element {
    width: 100%;
    padding: none;
    padding-start: 0px;
    -webkit-padding-start: 0px;
    font-size: 0px;
    margin: 0px;
}

.nav-element li{
    /*width: 20%;*/
    padding: 5% 0 5% 0;
    margin: 0 auto;
}

.nav-container {
    width: 40%;
    margin: 0 auto;
}

/* Lanscape iPad */
@media (max-width: 1024px) {

    .nav-container {
        width: 50%;
    }
}

/* Portrait iPad */
@media (max-width: 768px) {

    .nav-container {
        width: 70%;
    }
}

/* Landscape smartphone */
@media (max-width: 600px) {

    .nav-container {
        width: 100%;
    }
}

.li-wrapper {
    width: calc(100%/3);
    display: inline-block;
    text-align: center;
    height: 100%;
}

.li-wrapper li {
    width: 100%;
    background-color: black;
}

.labels {
    visibility: hidden;
    font-size: 0px;
    transition: font-size 0.5s;
}

/* Lanscape iPad */
@media (min-width: 1025px) {

    .profile-wrapper:hover .profile-label, .work-wrapper:hover .work-label, .contact-wrapper:hover .contact-label {
        visibility: visible;
        font-size: 16px;
        transition: font-size 0.5s;
    }
}



/* ======================================== LOGOS ======================================== */

.fa-large {
    font-size: 3em;
    color: black;
}

.fa-large:hover {
    color: rgb(120,120,120);
}