/* ======================================== BODY ======================================== */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body, html, .page {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'open sans', sans-serif;
}

.row {
    width: 100%;
    margin: 0;
}

.clear {
    opacity: 0;
}

.full-height-view {
    min-height: 100%;
}

/* ======================================== PAGES ======================================= */

/* =====================  HOME PAGE ===================== */

.home-page {
    height: 100%;
}

/* =====================  ABOUT PAGE ===================== */

.content-container {
    width: 100%;
    float: left;
}

.about-page-view {
    min-height: 150px;
    padding: 20px 0;
}

/* ======================================== VIEWS ======================================= */

.view-header {
    font-size: 5em;
    margin: 0;
    margin-bottom: 25px;
}

.home-view {
    padding: 20px 0;
}

/* ===================== TITLE VIEW ===================== */

.title-view {
    font-family: monospace;
    background-color: white;
}

.home-title-name {
    text-align: center;
    font-size: 5em;
}

.home-links-div {
    text-align: center;
    font-size: 2em;
}

.home-links-div li {
    display: inline-block;
}

.home-links-div a {
    color: inherit;
    text-decoration: inherit;
}

.home-title-name-type-caret {
    margin-left: -15px;
}

.links-type-caret {
    margin-left: -6px;
}

.link:hover {
    border-bottom: 2px solid black;
}

.blinker {
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

/* ===================== ME VIEW ==================== */

.me {
    background-color: #AFFFFF;
}

.me h1 {
    color: #7BD2D2;
}

.me-view-img {
    display: block;
    margin: 0 auto;
    width: 25%;
}

.me-view-img-container {
    /*padding-top: 25px;*/
}

.me p {
    text-align: center;
}

.me-view-social-wrapper {
    padding: 20px 0;
    font-size: 2em;
    text-align: center;
}

/* ===================== AWARDS VIEW ===================== */

.awards {
    background-color: #1B012F;
    color: black;
}

.awards h1 {
    color: #A28FAD;
}

.award-row {
    height: 200px;
}

.award-outer-wrapper {
    padding: 5px;
}

.award-outer-wrapper, .award-inner-wrapper {
    height: 100%;
}

.award-inner-wrapper {
    padding: 10px;
    background-color: #FEF3FF;

}

.award-tile-text {
    position: relative;
    /*background-color: red;*/
    z-index: 1;
    height: 100%;
    color: white;
}

.award-inner-wrapper .award-tile-text {
    opacity: 0;
}

.award-outer-wrapper:hover .award-tile-text{
    opacity: 1;
}

.award-outer-wrapper:hover .award-inner-wrapper{
    background-color: rgba(255, 255, 255, 0.2);
}

.award-outer-wrapper:hover .award-img{
    opacity: 0.2;
}

.award-img {
    position: absolute;
    max-height: 85%;
    max-width: 85%;
    top: 15px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

/* ===================== EDUCATION VIEW ===================== */

.education {
    background-color: #F4F9F9;
}

/* ===================== EMPLOYMENT VIEW ===================== */

.employment {
    background-color: #ECFFF1;
}

/* ===================== SKILLS VIEW ===================== */

.skills {
    background-color: #F4F9F9;
}

/* ======================================== NAVS ========================================= */

/* ===================== SIDEBAR ===================== */

.nav-container, .nav-container-fixed {
    height: 100%;
    width: 20%;
}

.nav-container {
    float: left;
}

.nav-container-fixed {
    position: fixed;
    background-color: #ffb1fd;
}

/* ===================== NAV ======================= */

.large-nav {
    background-color: white;
}

.nav-link {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-bottom: 2px solid black;
}

/* ======================================== ANIMATIONS ================================ */

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
