/* ======================================== BODY ======================================== */

body, html, .page {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-weight: 300;
}

.row {
    width: 100%;
    margin: 0;
}

.clear {
    opacity: 0;
}

.full-height-view {
    min-height: 100%;
}

/* ======================================== PAGES ======================================= */

/* =====================  HOME PAGE ===================== */

.home-page {
    height: 100%;
    -webkit-backface-visibility: hidden; /* prevents transitions of child elements causing flickering in others */
}

/* =====================  PROJECTS PAGE ================== */

.content-container {
    padding: 0 10px 10px 0;
    width: 80%;
    float: left;
}

@media (max-width: 767px) {
    .content-container {
        width: 100%;
    }
}

/* ======================================== VIEWS ======================================= */

/* ===================== TITLE VIEW ===================== */

.title-view {
    color: black;
}

.home-title-name {
    text-align: center;
    font-size: 5em;
}

.home-links-div {
    text-align: center;
    font-size: 2em;
}

.home-links-div li {
    display: inline-block;
}

.home-links-div a {
    color: inherit;
}

.home-links {
    padding: 0;
}

.home-title-name-type-caret {
    margin-left: -15px;
}

.links-type-caret {
    margin-left: -6px;
}

.blinker {
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

/* ===================== PROJECTS VIEW =================== */

.tag-wrapper {
    padding: 5px;
}

.tag-section-divider {
    margin: 10px 0;
}

.project-outer-wrapper, .project-inner-wrapper {
    padding: 10px 0 0 10px;
}

.project-inner-wrapper {
    height: 100%;
    padding: 5px;
    background-color: rgb(245, 245, 235);
    box-shadow: 2px 2px 5px #888888;
}

.project-tag, .project-tag-main {
    padding: 4px 8px;
    border-radius: 3px;
    margin: 2px;
    display: inline-block;
}

.project-tag {
    background-color: #797979;
}

.project-tag-main {
    background-color: white;
    color: black;
}

.project-tag, .project-tag:hover, .project-tag:focus {
    color: white;
}

.tag-span {
    font-size: 0.8em;
}

/* ======================================== NAVS ========================================= */

/* ===================== SIDEBAR ===================== */

.nav-container, .nav-container-fixed {
    height: 100%;
    width: 20%;
    z-index: 10;
    overflow-y: scroll;
    transition: width 0.4s;
}

@media (max-width: 767px) {
    .nav-container, .nav-container-fixed {
        width: 0;
    }
}

.nav-container {
    float: left;
    height: 1px;
}

.nav-container-fixed {
    position: fixed;
    background-color: #d0d0d0;
}

.burger-wrapper {
    position: fixed;
    display: none;
    z-index: 100;
    font-size: 2em;
    padding: 5px;
    right: 0;
}

.burger-icon {
    padding: 10px;
    background-color: #797979;
    color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #888888;
}

.burger-icon:hover {
    cursor: pointer;
    background-color: white;
    color: #797979;
}

@media (max-width: 767px) {
    .burger-wrapper {
        display: block;
    }
}

.mobile-nav {
    width: 100%;
    transition: width 0.4s;
}

/* ======================================== ANIMATIONS ================================ */

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
