/* ======================================== BODY ======================================== */

body, html, .page {
    height: 100%;
    padding: 0;
    margin: 0;
}

.fill {
    height: 100%;
}

.row {
    width: 100%;
    margin: 0;
}

.clear {
    opacity: 0;
}

/* ======================================== HOME PAGE =================================== */

.background {
    height: 100%;
    background: #b4ebff;
}

.title {
    font-family: monospace;
}

.name {
    text-align: center;
    font-size: 5em;
}

.home-links-div {
    text-align: center;
    font-size: 2em;
}

.home-links-div li {
    display: inline-block;
}

.home-links-div a {
    color: inherit;
    text-decoration: inherit;
}

.name-type-caret {
    margin-left: -15px;
}

.links-type-caret {
    margin-left: -6px;
}

.link:hover {
    border-bottom: 2px solid black;
}

/* ======================================== TYPING ANIMATION =========================== */

.blinker {
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
