<div class="nav-box snow-field">
    <nav class="nav-parent">
        <div class="nav-container">
            <ul class="nav-element">
                <a href="/index.html">
                    <div class="li-wrapper profile-wrapper">
                        <li>
                            <span class="fa fa-user"></span>
                            <span class="profile-label labels"> profile</span>
                        </li>
                    </div>
                </a>
                <a href="/html/work.html">
                    <div class="li-wrapper work-wrapper">
                        <li>
                            <span class="fa fa-book"></span>
                            <span class="work-label labels"> work</span>
                        </li>
                    </div>
                </a>
                <a href="/html/contact.html">
                    <div class="li-wrapper contact-wrapper">
                        <li>
                            <span class="fa fa-pencil"></span>
                            <span class="contact-label labels"> contact</span>
                        </li>
                    </div>
                </a>
            </ul>
        </div>
    </nav>
</div>