<div class="nav-box snow-field">
    <nav class="nav-parent">
        <div class="nav-container">
            <ul class="nav-element">
                <a href="/">
                    <div class="li-wrapper profile-wrapper">
                        <li>
                            <span class="fa fa-user"></span>
                            <span class="profile-label labels">&nbsp;&nbsp;profile</span>
                        </li>
                    </div>
                </a>
                <a href="../work">
                    <div class="li-wrapper work-wrapper">
                        <li>
                            <span class="fa fa-book"></span>
                            <span class="work-label labels">&nbsp;&nbsp;work</span>
                        </li>
                    </div>
                </a>
                <a href="../contact">
                    <div class="li-wrapper contact-wrapper">
                        <li>
                            <span class="fa fa-pencil"></span>
                            <span class="contact-label labels">&nbsp;&nbsp;contact</span>
                        </li>
                    </div>
                </a>
            </ul>
        </div>
    </nav>
</div>