<div class="nav-box">
    <nav>
        <div class="nav-container">
            <ul class="nav-element">
                <div class="li-wrapper profile-wrapper">
                    <li><span class="fa fa-user"></span></li>
                    <div class="labels profile-label">
                        <span>// P R O F I L E //</span>
                    </div>
                </div>
                <div class="li-wrapper work-wrapper">
                    <li><span class="fa fa-book"></span></li>
                    <div class="labels work-label">
                        <span>// W O R K //</span>
                    </div>
                </div>
                <div class="li-wrapper contact-wrapper">
                    <li><span class="fa fa-pencil"></span></li>
                    <div class="labels contact-label">
                        <span>// C O N T A C T //</span>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>