<div class="container">

    <h1 class="view-header">AWARDS</h1>

    <div class="row">

        <% awardsCollection.each(function(award, i) { %>

        <% if(i % 3 === 0) { %>
            <div class="row award-row">
        <% } %>

        <!-- award tile -->
        <div class="col-sm-4 award-outer-wrapper">
            <div class="award-inner-wrapper">
                <div class="award-tile-text">
                    <p><strong><%= award.get('name') %></strong></p>
                    <p><%= award.get('reason') %></p>
                </div>
            </div>
            <img src="public/images/<%= award.get('image') %>.png" alt="<%= award.get('image') %> logo" class="award-img">
        </div>

        <% if((i + 1) % 3 === 0 || i === awardsCollection.length - 1) { %>
            </div>
        <% } %>

        <% }); %>

    </div>

</div>