<div class="container me-view-contents-outer">
    <div class="row me-view-contents-inner">

        <div class="col-md-6 me-view-description">
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-10">
                    <h2>Hi</h2>
                    <hr>
                    <!-- bio -->
                    <% _.each(description, function(line, i) { %>
                    <p><%= line %></p>
                    <% }); %>
                </div>
                <div class="col-md-1">&nbsp;</div>
            </div>
        </div>

        <div class="col-md-6 me-view-contact">
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-10">
                    <!-- social media -->
                    <div class="row me-view-social-wrapper">

                        <h2>Get in touch</h2>
                        <hr>
                        <p><%= email %></p>
                        <hr>

                        <% _.each(media, function(item) { %>
                        <div class="col-xs-3">
                            <a href="<%= item.link %>">
                                <span class="fa fa-<%= item.icon %>"></span>
                            </a>
                        </div>
                        <% }); %>

                    </div>
                </div>
                <div class="col-md-1">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
