<% _.each(collection, function(project, i) { %>

    <div class="col-md-6 project-outer-wrapper">
        <div class="project-inner-wrapper  project-wrapper-<%= project.get('name') %>">
            <p>
                <strong><%= project.get('name') %></strong>
            </p>
            <p><%= project.get('description') %></p>

            <% if(project.get('code')) { %>
                <p><a href="<%= project.get('code') %>">Code</a></p>
            <% } %>

        </div>
    </div>
<% }); %>