<% _.each(collection, function(project, i) { %>

<% if(i % 2 === 0) { %>
    <div class="row project-row">
<% } %>

    <div class="col-sm-6 project-outer-wrapper">
        <div class="project-inner-wrapper  project-wrapper-<%= project.get('name') %>">
            <p>
                <strong><%= project.get('name').replace(/_/g, ' ') %></strong>

                <% if(project.get('code')) { %>
                    - <a target="_blank" href="<%= project.get('code') %>">Code</a>
                <% } %>
                <% if(project.get('link')) { %>
                    - <a target="_blank" href="<%= project.get('link') %>">Link</a>
                <% } %>
            </p>
            <p><%= project.get('description') %></p>

            <!--<hr>-->

            <!--<% _.each(project.get('tags'), function(tag, i) { %>-->
            <!--<span class="tag-span"><%= tag %>,</span>-->
            <!--<% }); %>-->

        </div>
    </div>

<% if((i + 1) % 2 === 0) { %>
    </div>
<% } %>
<% }); %>