<div class="container-fluid background">
    <div class="title">
        <div class="row">
            <div class="col-md-12">
                <div class="name">
                    Will Sutherland
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="home-links">
                    <ul>
                        <li><a href="#/about">about</a></li>
                        <li>//</li>
                        <li><a href="#/projects">projects</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>