<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <title>Will Sutherland</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/style.css"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
</head>
<body>

    {% include header.html %}

    <div class="container-fluid">

        <div class="container">

            {{content}}

        </div>

    </div>

    {% include footer.html %}

</body>